@model DokterApp.Models.Poli

@{
    ViewData["Title"] = "Create";
    var listSpesialisasi = ViewData["ListSpesialisasi"] as List<SelectListItem>;
}


<h1>Tambah Poli</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nama" class="control-label"></label>
                <input asp-for="nama" class="form-control" />
                <span asp-validation-for="nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lokasi" class="control-label"></label>
                <br />
                <input asp-for="lokasi" maxlength="11" class="form-control" />
                <span asp-validation-for="lokasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
