@model DokterApp.Models.DoctorModel

@{
    ViewData["Title"] = "Create";
}

@{
    List<string> GenderList = new List<string>
    {
        "Laki-Laki",
        "Perempuan"
    };
}

<h1>Add Doctor</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nama" class="control-label"></label>
                <input asp-for="nama" class="form-control" />
                <span asp-validation-for="nama" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="nip" class="control-label"></label>
                <input asp-for="nip" class="form-control" />
                <span asp-validation-for="nip" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="nik" class="control-label"></label>
                <br />
                <input asp-for="nik" class="form-control" />
                <span asp-validation-for="nik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tanggal_lahir" class="control-label"></label>
                <input asp-for="tanggal_lahir" class="form-control" />
                <span asp-validation-for="tanggal_lahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tempat_lahir" class="control-label"></label>
                <input asp-for="tempat_lahir" class="form-control" />
                <span asp-validation-for="tempat_lahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jenis_kelamin" class="control-label"></label>
                @*<input asp-for="jenis_kelamin" class="form-control" />*@
@*                @Html.Label("Gender: ")
                @Html.DropDownList("gender", new SelectList(GenderList));*@
                <select asp-for="jenis_kelamin" class="form-control form-select">
                    <option value="1">Laki-Laki</option>
                    <option value="2">Perempuan</option>
                </select>
                <br />
                <span asp-validation-for="jenis_kelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
